*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 800px;
    background: url('../img/mainpicture.jpg') center center / cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 14px;
    text-transform: uppercase;
}

h1 {
    margin-top: 53px;
}

.title {
    font-family: 'Roboto';
    font-size: 41px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.59;
    letter-spacing: normal;
    text-align: center;
    color: #f9bf3b;
    text-transform: uppercase;
}

.simple .title_big {
    
    font-family: 'Roboto';
    font-size: 80px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 21px;
    text-transform: uppercase;
}

h2.title {
    margin-top: 30px;
}

.promo .promo_text {
    padding: 0 13px;
    margin-top: 23px;
    font-family: 'Roboto';
    font-size: 21px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;

}

.promo .promo_text span {
    font-weight: 900;
    color: #f9bf3b;
    text-transform: uppercase;
}

.promo .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0px 0 0 0 rgba(0, 0, 0, 0.18);
    border: solid 4px rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9, #3ab6da);
    text-shadow: -0.7px -0.7px 0 rgba(0, 0, 0, 0.22);
    font-family: 'Roboto';
    font-size: 21px;
    font-weight: normal;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

.more {
    margin-top: 73px;
}

.more .more_text {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
    text-transform: uppercase;
}

.waiting {
  min-height: 604px;
  background-color: #efefef;
  padding: 85px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header {
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    text-transform: uppercase;
    text-align: center;
}  

.finish .finish_header {
    color: white;
}

.waiting .waiting_devider, .finish .finish_devider {
    margin: 0 auto;
    margin-top: 18px;
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
}

.waiting .waiting_subheader {
    margin-top: 17px;
    font-family: 'Roboto';
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    vertical-align: top;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px; 
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #4a4a4a;
    text-align: center;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {
    margin-left: 391px;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #299cbd;
    text-transform: uppercase;
}

.optimization .optimization_text {
    margin-top: 25px;
    margin-left: 391px;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: normal;
    text-align: justify;
    color: #4a4a4a;
}

.optimization .optimization_text span {
    font-weight: bold;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('../img/workspace.jpg') center center/cover no-repeat;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: #efefef;
}

.gift {
    min-height: 628px;
    background-color: #efefef;  
    padding: 86px 0 87px 0;
}

.gift img {
    display: block;
    margin: 0 auto;
}

.gift h2 {
    margin-top: 42px;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #252525;
}

.gift .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 52px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0px 0 0 0 rgba(0, 0, 0, 0.18);
    border: solid 4px rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9, #3ab6da);
    text-shadow: -0.7px -0.7px 0 rgba(0, 0, 0, 0.22);
    font-family: 'Roboto';
    font-size: 21px;
    font-weight: normal;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

.end {
    min-height: 515px;
    background-color: #ffffff;
    padding: 82px 0 64px 0;
}

.end img.forward {
    display: block;
    margin: 0 auto;
}

.end .container .text h2.first {
    margin-top: 37px;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #252525;
    text-transform: uppercase;
}

.end .container .text h2.blue {
    margin-top: 30px;
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #299cbd;
    text-transform: uppercase;
}

.end .container .text p {
    margin-top: 25px;
    font-family: 'Roboto';
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}

footer {
    min-height: 166px;
    background-color: #1a1a1a;
    padding: 61px 0 69px 0;
}

footer .container {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #888888;
}

footer a {
    color: #888888;  
}




